<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head">
</head>

<body>

	<nav th:replace="fragments/layout :: navigation"></nav>

	<!--  PAGE BODY -->
	<div class="container" role="main">

		<div class="page-header">
			<p>&nbsp;</p>
			<h1>Hello Server</h1>
		</div>

		<div class="row">
			<div class="col-md-12">
				<p>
					This page calls the <i><b>hello-server</b></i> microservice that
					leverages spring cloud config to dynamically update the greeting.
					The UI is leveraging the circuit breaker pattern to handle service
					availability gracefully
				</p>
				<p>
					The <i><b>hello-server</b></i> is not written to support
					auto-refresh, so once you commit any updates to the config server
					repo you'll have to call the refresh endpoint
				</p>
				<p>
					<b>curl -X POST [HELLO_SERVER_URL]/refresh</b>
				</p>
				<p>The greeting <i>Error, can't say hello to</i> is the fallback greeting message.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default" onclick="javascript: sayHello()"
							type="button">Go!</button>
					</span> <input type="text" id="toWho" name="toWho" class="form-control"
						placeholder="Name to say hello..."></input>
				</div>
				<!-- /input-group -->
			</div>
			<!-- /.col-md-12 -->
		</div>

		<!-- /.row -->
		<div class="row">
			<div class="col-md-12">

				<div class="panel panel-default">
					<div class="panel-body">
						<p>
							Hello <b id="greeting" th:text="${greeting}"></b>
						</p>
					</div>
				</div>

			</div>
		</div>


	</div>
	<!--  /.PAGE BODY -->

	<footer th:replace="fragments/layout :: footer" class="footer">
	</footer>

	<script>
		var requestIdCounter = 0;
		var lastRecievedId = -1;

		function sayHello() {
			var toWho = $("#toWho").val();
			var submiturl = "hello?name=" + encodeURIComponent(toWho);
			$.ajax({
				url : submiturl
			}).then(function(data) {
				console.log(data)
				$("#greeting").html(data);
			});
		}
	</script>

</body>

</html>

