<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head">
</head>

<body>

	<nav th:replace="fragments/layout :: navigation"></nav>

	<!--  PAGE BODY -->
	<div class="container" role="main">

		<div class="page-header">
			<p>&nbsp;</p>
			<h1>Server JPA</h1>
		</div>

		<div class="row">
			<div class="col-md-12">
				<p>TDB - Talk about Spring Boot JPA and Spring Cloud Registry</p>
			</div>
		</div>


	</div>
	<!--  /.PAGE BODY -->

	<footer th:replace="fragments/layout :: footer" class="footer">
	</footer>

</body>

</html>

